
<br/>
<div class="jumbotron bg-light mb-3" style="border-radius:15px; vertical-align:middle;">
  <div class="row g-0">
    <div class="col-md-4" style="text-align:center; vertical-align:middle;">
      <% if @friend.avatar.attached? %>
        <%= image_tag @friend.avatar.variant(resize_to_limit: [400, 400]) %>
        <!-- 
          <img src=" <%=(url_for(@friend.avatar))%> "> 
        -->
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="display-4"> 
          <br/>
          <%= @friend.first_name %>
          <%= @friend.last_name %>
        </h1>
        <hr class="my-4">
        <p class="lead">
          <%= @friend.email %> | 
          <%= @friend.phone %> | 
          <%= @friend.twitter %>
        </p>
        <br/>
        <%= link_to 'Edit', edit_friend_path(@friend), class:"btn btn-secondary" %> 
        <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
        <%= link_to 'Back', friends_path, class:"btn btn-dark" %>
        <br/>
      </div>
    </div>
  </div>
</div>